<nav>
    <ul class="navList" style="display: flex; justify-content: space-between; list-style-type: none">
        <li><a href="https://jaymanjrekar.github.io/jaynewrepository/">Home</a></li>
        <li><a href="https://jaymanjrekar.github.io/jaynewrepository/cb">CollegeBoard Notes</a></li>
        <li><a href="https://jaymanjrekar.github.io/jaynewrepository/createtask">Create Task</a></li>
        <li><a href="https://jaymanjrekar.github.io/jaynewrepository/datastructures">Data Structures</a></li>
    </ul>
</nav>
<hr>
